
<style>
  html{scroll-behavior:smooth}
.cinema-seats {
  display: grid;
  grid-template-columns: repeat(9, auto); /* Set the number of columns to 9 */
  gap: 2px; /* Adjust the gap as needed */
  justify-content: center;
  padding: 10px;
}
.list-cinema {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  padding: 20px;
}

.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.seat.selected {
  background-color: #28a745; /* Ganti dengan warna yang diinginkan */
  color: #fff; /* Ganti dengan warna teks yang sesuai */
}
.kursi {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.staircase {
  background-color: #FFF;
}
.cardBox {
  padding: 0px;
  border-radius: 5px;
  box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.20);
}
.buy-ticket {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.btn:focus {
  outline:none;
  border:none;
}
.blur {
  display: none;
}

.showen {
  display: block;
}

.img-blur {
  filter: brightness(70%);
}

.custom-swal-width {
  width: 400px; 
  font-size: revert;
}

</style>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<!-- sweetalart -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
  function validateTargetTime(target) {
    var currentTime = new Date();
    var targetTime = new Date();
    targetTime.setHours(...target.split(':'), 0, 0);

    if (currentTime.getTime() < targetTime.getTime()) {
      return true;
    } else {
      return false;
    }
}
    function orderTiket(){
    jam_tayang = $('#jam_tayang').text()
    var validate = validateTargetTime(jam_tayang);
    if(validate == true){
    
    id = $('#id_film').text()
    nama_film = $('#nama_film').text()
    nomer_duduk = $('.selected').text();
    var chunks = nomer_duduk.match(/(\d+[A-Za-z]|[A-Za-z]+)/g);
    

    // Convert the chunks to lowercase and create the desired string
    var splitNumerDuduk = chunks.map(function(chunk) {
      return chunk.toUpperCase();
    }).join(',');
    $('#nomer_kursi').text(splitNumerDuduk) 

    // input to database
    var input= {       
       id_film: id,
       id_status_pembayaran: 1,
       nomor_duduk : splitNumerDuduk
      }
      console.log(input)
      Swal.fire({
        title: `Anda yakin akan membeli ${chunks.length} Tiket nonton film ${nama_film}?`,
        text: `Jam Tayang: ${jam_tayang}`,
        icon: "warning",
        // html: `
        //       You can use <b>bold text</b>,
        //       and other HTML tags
        //     `,
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        customClass: {
          popup: 'custom-swal-width',
          content: 'custom-swal-width',
          title: 'custom-swal-width'
        }
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '<?php echo $this->basePath()?>/bioskop/order', 
            type: 'POST',                  
            data: input,                
            dataType: 'json',
            success: function (data) {
                // Handle successful response
                // id = data.data.id_order
                if(data.data.hasOwnProperty('id_status_pembayaran') || data.data['id_status_pembayaran'] == 1){
                  Swal.fire({
                    title: "Masih ada pembayaran yang belum selesai!",
                    text: "Lanjutkan ke pembayaran?",
                    icon: "error",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes",
                    customClass: {
                      popup: 'custom-swal-width',
                      content: 'custom-swal-width',
                      title: 'custom-swal-width'
                    }
                  }).then((result) => {
                      if (result.isConfirmed) {
                        location.href = '<?php echo $this->basePath()?>/bioskop/payment'
                      }
                    });
                } else {
                  location.href = '<?php echo $this->basePath()?>/bioskop/payment'
                }
            },
            error: function (xhr, status, error) {
                // Handle error response
                console.error(xhr.responseText);
                alert('An error occurred while processing the request.');
            }
          });
        }
      });
  }else{
    Swal.fire({
                    title: "Tidak Bisa Order Tiket",
                    text: "Film yang ada order sudah tayang",
                    icon: "error",
                    confirmButtonColor: "#3085d6",
                    confirmButtonText: "Tunggu Besok",
                    customClass: {
                      popup: 'custom-swal-width',
                      content: 'custom-swal-width',
                      title: 'custom-swal-width'
                    }})
  }
}

$(document).ready(function(){
  
  var v_request = $.ajax({
    url: "<?php echo $this->basePath()?>/bioskop/listFilm",
    type: "POST",
    dataType: "json",
  });
  
  v_request.done(
    function(res, status, jqXHRz) {
      var data = res.data;
      console.log(data)
      var cardListContainer = $('#cardList');
        for (var i = 0; i < data.length; i++) {
            var cardHtml = `<div class="col-md-3" style="max-width: max-content;text-align:center;margin-bottom: 20px;"> 
                               <div class="card cardBox"> 
                                   <div class="card-body"> 
                                      <div class="movie-poster">
                                        <div class="poster-box" id="imgHover_${data[i].id_film}">
                                          <div id="beli-tiket" class="blur" style="position: absolute;top: 35%;left: 25%;">
                                            <a href="#orderList" style="position: relative;z-index: 1;" onclick='select_film(this)'
                                            data-nama_film="${data[i].nama_film}"
                                            data-image="${data[i].film_image}"
                                            data-jam="${data[i].jam_tayang}"
                                            data-harga="${data[i].harga_tiket}"
                                            data-id="${data[i].id_film}"
                                            class="btn btn-sm btn-warning buy-ticket" style="width: 100%;"><b>BELI TIKET</b></a>
                                          </div>
                                          <img class="listImage" src="<?php echo $this->basePath('img/'); ?>${data[i].film_image}"  width="150" height="226">                                              
                                          <div style="padding: 5px;display:flex;width: 100%;justify-content: center;">
                                            <div style="width:min-content;height: 50px;align-items: center;display: flex;">
                                              <h4 style="margin-top:0px;min-width: 125px;"><b style="text-transform:capitalize">  ${data[i].nama_film}  </b></h4>
                                            </div>
                                          </div>
                                      </div>
                                   </div> 
                               </div> 
                           </div>`;

            // Append the card to the container
            cardListContainer.append(cardHtml);
            $('#imgHover_'+data[i].id_film).mouseenter(addButtonOnHover).mouseleave(removeButtonOnHoverOut);
        }
    }
  );
});




</script>

<div class="card" id="server" style="display:contents">
  <div class="card-body">
    <h2 class="card-title" style="text-align:center">  JagoXXI  </h2>
    <div class="row">
      <div class="list-cinema" id="cardList"></div>
    </div>
  </div>
</div>


<!-- card order -->
<div class="row" id="orderList">
  <div class="col-sm-6" id="nomor_kursi" hidden>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Nomor Kursi</h3>
        <!-- kursi -->
        <div class="cinema-seats"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-6" id="detail-film-order" hidden>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Detail Film Order</h3>
          <p class="card-text">
            <table class="table">
              <thead>
                  <tr>
                      <th scope="col" colspan=3>Movie</th>
                  </tr>
              </thead>
              <tbody id="tbody-detail-film">
                
              </tbody>
            </table>
          </p>
          <button onclick="orderTiket()" class="btn btn-success" id="btnOrder" style="display:block">Order</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const seatsContainer = document.querySelector('.cinema-seats');

  const jumlahBaris = 8; //add baris
  const jumlahKolom = 8; 
    for (let i = 1; i <= jumlahBaris; i++) {
      for (let j = 1; j <= jumlahKolom; j++) {
          const kursi = document.createElement('div');
          kursi.classList.add('kursi');
          kursi.classList.add('btn');
          kursi.classList.add('seat');
          kursi.classList.add('kode'+i);
          kursi.textContent = `${i}${String.fromCharCode(64 + j)}`;
          seatsContainer.appendChild(kursi);

          if (j === 4) {
            const kursi = document.createElement('div');
            kursi.classList.add('staircase');
            kursi.style.alignSelf = 'center';
            kursi.style.padding = '6px 12px';
            kursi.textContent = `${String.fromCharCode(64 + i)}`;
            seatsContainer.appendChild(kursi);
          }

        kursi.addEventListener('click', function () {
        // Mengubah warna kursi
        kursi.classList.toggle('selected');
        nomer_duduk = $('.selected').text();

        if (nomer_duduk ==""){
          $('#nomer_kursi').html('<button class="btn btn-danger">Pilih Kursi</button>');
          $('#btnOrder').hide()
        }else{
            $('#btnOrder').show()
              var chunks = nomer_duduk.match(/(\d+[A-Za-z]|[A-Za-z]+)/g);
        
              // Convert the chunks to lowercase and create the desired string
              var splitNumerDuduk = chunks.map(function(chunk) {
                return chunk.toUpperCase();
              }).join(',');

              

              $('#nomer_kursi').text(splitNumerDuduk)
          
        }
        });
      }
  }

function addButtonOnHover() {
  $(this).find('.listImage').addClass('img-blur');
  $(this).find('#beli-tiket').addClass('showen');
  $(this).find('#beli-tiket').removeClass('blur');
}

// Function to remove the button on hover out
function removeButtonOnHoverOut() {
  $(this).find('.listImage').removeClass('img-blur');
  $(this).find('#beli-tiket').addClass('blur');
  $(this).find('#beli-tiket').removeClass('showen');
}

function select_film(row) {
  var nama = row.getAttribute("data-nama_film");
  var img = row.getAttribute("data-image");
  var jam = row.getAttribute("data-jam");
  var harga = row.getAttribute("data-harga");
  var id = row.getAttribute("data-id");
  var dateObject = new Date(jam);
  var timePart = ('0' + dateObject.getHours()).slice(-2) + ':' + ('0' + dateObject.getMinutes()).slice(-2);

  $('#detail-film-order').prop('hidden', false)
  $('#nomor_kursi').prop('hidden', false)
  $('#btnOrder').hide()
  
  $('.kursi').removeClass('selected');
  $('#tbody-detail-film').html(
    `<tr>
                <td rowspan=4><img src="<?php echo $this->basePath('img/'); ?>`+img+`" alt="movie" width="100" height="150"/></td>
                <td>Judul</td>
                <td id="nama_film" style="text-transform:capitalize">`+nama+`</td>
                <td style="display:none" id="id_film">`+id+`</td>
              </tr>
              <tr>
                <td>Jam Tayang</td>
                <td id="jam_tayang">`+jam+`</td>
              </tr>
              <tr>
                <td>Harga Tiket</td>
                <td>`+harga+`</td>
              </tr>
              <tr>
                <td>Nomor Kursi</td>
                <td id="nomer_kursi"><small style="padding: 5px;background-color:#c55050;color:#fff">Belum ditambahkan.</small></td>
              </tr>`
  )
}

</script>
